<div class="tag_cloud">
  <h2>Tags</h2>
  <div class="hTagcloud">
    <ul class="popularity">
      <li><a class="v-popular" href="#">blog</a></li> 
      <li><a class="vvv-popular" href="#">brandon</a></li> 
      <li><a class="v-popular" href="#">css3</a></li> 
      <li><a class="v-popular" href="#">design</a></li> 
      <li><a class="vv-popular" href="#">eleven</a></li> 
      <li><a class="v-popular" href="#">graphic</a></li> 
      <li><a class="v-popular" href="#">greetings</a></li> 
      <li><a class="v-popular" href="#">hello</a></li> 
      <li><a class="vv-popular" href="#">isotope</a></li> 
      <li><a class="v-popular" href="#">isotope11</a></li> 
      <li><a class="v-popular" href="#">programming</a></li> 
      <li><a class="v-popular" href="#">site</a></li> 
      <li><a class="v-popular" href="#">stylesheets</a></li> 
      <li><a class="vv-popular" href="#">welcome</a></li> 
      <li><a class="v-popular" href="#">world</a></li> 
    </ul>
  </div>
</div>
<div class="articles_container">
  <% @posts.each do |post| %>
    <div class="blog_post">
      <h2>
        <%= link_to post.title, post %>
      </h2>
      <p>
        <%=h post.body %>
      </p>
      <%- if logged_in? %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
      <%- end %>
    </div>
  <% end %>
  <br />
  <%= link_to 'New post', new_post_path if logged_in? %>
</div>
